<?xml version='1.0'?>
<FermaNextConfig>
    <JavaPluginLoader>
       <JREPath path="%APPDIR%/jre" />

       <!-- Verbose: <JVMOption option="-verbose:jni" /> -->
       <!-- Debug mode: <JVMOption option="-agentlib:jdwp=transport=dt_shmem,address=fermanext,server=y,suspend=n" /> -->
       <JVMOption option="-Xcheck:jni" />
       
       <JVMClassPath path="%APPDIR%" />
       <JVMClassPath path="%APPDIR%/plugins/loaders/fermanext.jar" />

       <JVMLibraryPath path="%APPDIR%/plugins/loaders" />
    </JavaPluginLoader>

    <LiveUpdate url="http://ferma.sourceforge.net/LiveUpdate" name="FermaNext" />

</FermaNextConfig>
