<?xml version='1.0'?>
<FermaNextConfig>
    <JavaPluginLoader>
       <JREPath path="%APPDIR%/jre" />

       <!-- <JVMOption option="-verbose:jni" /> -->
       <JVMOption option="-Xcheck:jni" />
       
       <JVMClassPath path="%APPDIR%" />
       <JVMClassPath path="%APPDIR%/plugins/loaders/fermanext.jar" />

       <JVMLibraryPath path="%APPDIR%/plugins/loaders" />
    </JavaPluginLoader>
</FermaNextConfig>
