<?xml version="1.0"?>
<FermaNextConfig>
   <PluginsDir>plugins</PluginsDir>
   <TrussUnitWindow>
       <BorderColor>#142328</BorderColor>
       <CanvasColor>#080A0C</CanvasColor>
       <HeadlineColor>#080A0C</HeadlineColor>
       <Color>
          <ArrowColor>#000000</ArrowColor>
          <GridColor>#ffffff</GridColor>
       </Color>
      
   </TrussUnitWindow>
</FermaNextConfig>
